* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}


/*body {
    background-image: url('./img/backgroundbb.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}*/

:root {
    --black-color: #000000;
    --brown-dark-color: #69442D;
    --chocolate-color: #995B36;
    --brown-light-color: #DEC6AF;
    --white-brown-color: #F5F5F5;
    --background-gradiant-desktop: linear-gradient(0deg, rgba(222, 198, 175, 0.8) 0%, rgba(105, 68, 45, 1) 70%);
    --background-gradient-mobil-color: linear-gradient(90deg, rgba(222, 198, 175, 1) 80%, rgba(105, 68, 45, 1) 100%);
}

@font-face {
    font-family: 'Baloo 2', cursive;
    font-family: 'Bonheur Royale', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Bonheur+Royale&display=swap');
}

.btn-logOut {
    border: none;
    background-color: none;
    text-decoration: none;
    cursor: pointer;
    /*elimina img fondo*/
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.btn-logOut:hover {
    -webkit-border-radius: 40px 0px 40px 0px;
    -moz-border-radius: 40px 0px 40px 0px;
    border-radius: 40px 0px 40px 0px;
    -webkit-box-shadow: 5px 8px 9px 4px rgba(105, 68, 45, 0.49);
    box-shadow: 5px 8px 9px 4px rgba(105, 68, 45, 0.49);
    ;
}