* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    background-image: url('./img/backgroundbb.jpeg');
    background-repeat: no-repeat cover;
    background-size: 100%;
    background-color: #69442D;
}

:root {
    --black-color: #000000;
    --brown-dark-color: #69442D;
    --chocolate-color: #995B36;
    --brown-light-color: #DEC6AF;
    --white-brown-color: #F5F5F5;
    --background-transp-color-init: rgba(222, 198, 175, 0.8) rgba(105, 68, 45, 1);
    --background-transp-mobil-color: rgba(231, 217, 209, 0.8) rgba(105, 68, 45, 1);
}

@font-face {
    font-family: 'Baloo 2', cursive;
    font-family: 'Bonheur Royale', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Bonheur+Royale&display=swap');
}

.error-img {
    background-color: var(--background-color-init);
}