* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

 :root {
    --black-color: #000000;
    --brown-dark-color: #69442d;
    --chocolate-color: #995b36;
    --brown-light-color: #dec6af;
    --white-brown-color: #f5f5f5;
    --opacity-bg-post: rgba(105, 68, 45, 0.7);
    --background-gradiant-desktop: linear-gradient( 0deg, rgba(222, 198, 175, 0.8) 0%, rgba(105, 68, 45, 1) 70%);
    --background-gradient-mobil-color: linear-gradient( 90deg, rgba(222, 198, 175, 1) 80%, rgba(105, 68, 45, 1) 100%);
}

@font-face {
    font-family: "Baloo 2", cursive;
    font-family: "Bonheur Royale", cursive;
    src: url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Bonheur+Royale&display=swap");
}

#root {
    display: grid;
    column-gap: initial;
    justify-content: center;
    align-items: center;
    background-image: url(./img/coverbook1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}


/*ESTILOS HEADER Y NAV*/


/*HEADER*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: auto;
}


/*BTN LOG OUT*/

.btn-logOut {
    border: none;
    cursor: pointer;
    box-shadow: 0 0.25rem 0.4rem #dec6af;
}


/*NAV*/

.nav-post {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: initial;
    justify-content: space-between;
    background-color: var(--opacity-bg-post);
    border-radius: 102rem;
    width: auto;
}


/*ICONOS*/

.icon-nav {
    margin: 0.7rem;
    font-size: 2rem;
    color: #f5f5f5;
}


/*ESTILOS INPUT TITLE Y TEXAREA COMENTARIO*/

.formPost {
    display: grid;
    justify-content: center;
    margin: 0.5rem;
    z-index: 1;
}


/*ESTILOS LABEL TITLE y DESCRIPTION*/

.textTitle,
.descrpTitle,
.textarea {
    font-family: "Baloo 2", cursive;
    font-weight: 400;
    font-size: 1.5rem;
}


/*INPUT TITLE*/

input[type="text" i] {
    border-radius: 5rem;
    border: 0;
    outline: none;
    background-color: var(--opacity-bg-post);
    padding: 0.3rem;
}


/*ESTILO TEXTAREA*/

.textarea {
    border-radius: 1rem;
    border: 0;
    outline: none;
    background-color: var(--opacity-bg-post);
    padding: 0.3rem;
    margin-bottom: 0.5rem;
}


/*ESTILOS BTN ADD POST*/

.btn-addPost {
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

#addPost:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 0.25rem 0.4rem #dec6af;
    transition: all 0.2s ease;
}

.fa-circle-plus::before {
    padding: auto;
    border-radius: none;
}

#addPost {
    text-decoration: none;
    font-family: "Baloo 2", cursive;
    font-size: 1rem;
    color: var(--white-brown-color);
    border: 0.1rem solid #dec6af;
    padding: 0.3rem;
    background-color: #995b36;
    border-radius: 1.25rem;
    width: 15rem;
}