* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

:root {
    --black-color: #000000;
    --brown-dark-color: #69442D;
    --chocolate-color: #995B36;
    --brown-light-color: #DEC6AF;
    --white-brown-color: #F5F5F5;
    --background-color-init: rgba(222, 198, 175, 0.8) rgba(105, 68, 45, 1);
    --background-mobil-color: rgba(231, 217, 209, 0.8) rgba(105, 68, 45, 1)
}

.error-img {
    background-color: var(--background-color-init);
}